In [1]:
import pandas as pd

In [8]:
df=pd.read_csv("../failure_data.csv")
df

,Unnamed: 0,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,3416,L50595,L,301.4,310.4,1579,36.9,133.0,0,0,0,0,0,0
1,1,7130,L54309,L,300.6,310.0,1635,31.0,107.0,0,0,0,0,0,0
2,2,2320,M17179,M,299.2,308.8,1700,33.5,185.0,0,0,0,0,0,0
3,3,9601,M24460,M,298.9,310.0,1561,45.3,58.0,0,0,0,0,0,0
4,4,614,L47793,L,298.1,309.9,1634,30.0,53.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,9018,M23877,M,297.3,308.1,1369,52.0,214.0,0,0,0,0,0,0
9996,9996,3339,M18198,M,301.6,310.9,1510,40.9,152.0,0,0,0,0,0,0
9997,9997,5771,L52950,L,301.6,311.2,1408,42.9,89.0,0,0,0,0,0,0
9998,9998,3056,L50235,L,300.1,309.2,1427,37.6,73.0,0,0,0,0,0,0
9999,9999,6026,L53205,L,300.7,311.0,1336,53.3,68.0,0,0,0,0,0,0

In [9]:
df.shape

(10000, 15)

In [10]:
df.columns

Index(['Unnamed: 0', 'UDI', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'Machine failure', 'TWF', 'HDF', 'PWF', 'OSF',
       'RNF'],
      dtype='object')

In [11]:
df.head(5)

,Unnamed: 0,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,3416,L50595,L,301.4,310.4,1579,36.9,133.0,0,0,0,0,0,0
1,1,7130,L54309,L,300.6,310.0,1635,31.0,107.0,0,0,0,0,0,0
2,2,2320,M17179,M,299.2,308.8,1700,33.5,185.0,0,0,0,0,0,0
3,3,9601,M24460,M,298.9,310.0,1561,45.3,58.0,0,0,0,0,0,0
4,4,614,L47793,L,298.1,309.9,1634,30.0,53.0,0,0,0,0,0,0